<div class="contenedor">
  <!-- Filtro a la izquierda -->
  <div class="filtro">
    <app-filtro (buscar)="cargarPersonas($event)"></app-filtro>
  </div>
  <div *ngIf="mensajeError" class="mensaje-error">
    {{ mensajeError }}
  </div>

  <!-- Tarjetas de personas desaparecidas -->
    <div class="tarjetas">
        <div class="tarjeta" *ngFor="let persona of personasPaginadas" [routerLink]="['/desaparicion', persona.id]">
            <img [src]="persona.foto" alt="Foto de {{ persona.nombre }}" />
            <div class="info">
                <h3>{{ persona.nombre }} {{ persona.apellidos }}</h3>
                <p>Desaparecido el: {{ persona.fecha | date: 'dd/MM/yyyy' }}</p>
            </div>
        </div>
    </div>
</div>

    <!-- Paginación -->
<div class="paginacion">
    <!-- Botón Anterior -->
    <button (click)="cargarPagina(paginaActual - 1)" [disabled]="paginaActual === 1">
        Anterior
    </button>

    <!-- Números de página -->
    <span *ngFor="let pagina of [].constructor(totalPaginas); let i = index">
    <button (click)="cargarPagina(i + 1)" [class.active]="paginaActual === i + 1">
      {{ i + 1 }}
    </button>
  </span>

    <!-- Botón Siguiente -->
  <!-- Botón Siguiente -->
  <button (click)="cargarPagina(paginaActual + 1)" [disabled]="paginaActual === totalPaginas || !habilitarSiguiente">
    Siguiente
  </button>

</div>


