<div class="profile-sidebar">

  <div class="profile-header text-center p-3">
    <mat-icon class="profile-icon mb-2">{{iconoUsuario}}</mat-icon>
    <h6 class="mb-1">Usuario: {{ menu?.usuario }}</h6>
    <small class="text-muted">Email: {{ menu?.email }}</small>
  </div>
  <hr class="m-0" />
  <div class="menu-section bg-light p-3">
    <div class="row">
      <div class="col col-12 d-flex justify-content-center mb-3 py-3" id="opcion"  *ngFor="let option of menuOptions" [class.active]="selectedOption === option.value"
           (click)="selectOption(option.value)">
        <mat-icon class="me-2 custom-icon ">{{ getIcon(option.value) }}</mat-icon>
        {{ option.label }}
      </div>

    </div>
  </div>
</div>
