tr:hover{
    cursor: pointer;
}

body {
  background: #f2f2f2;
}

.row-container {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
}

.row-container:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
button {
  position: relative;
  bottom: 1px;
}
@media screen and (max-width: 992px) {
  .le-hide {
    visibility: hidden;
  }

  .cuadro{
    height: 200px !important;
  }
}

.zoom {
  display: inline-block;
  transition: transform 0.3s ease;
}

.zoom:hover {
  transform: scale(1.2);
}

.search-bar {
  transition: width 0.3s ease-in-out;
  width: 40px;
}

.search-bar:focus {
  width: 250px;
}

.custom-icon {
  font-size: 28px;
  color: #7bc3f2;
  transition: transform 0.3s ease, color 0.3s ease;
}
