<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<div class="container">
  <div class="row le-hide">

    <div class="col-lg-12">
      <div class="m-0 row p-3">
        <div class="col-md-3 col-lg-2 p-0">
          <strong class="pl-lg-2"> ID</strong>
        </div>
        <div class="col-sm-12 col-lg-3 p-0 pl-lg-5">
          <strong> Name</strong>
        </div>
        <div class="col-sm-12 col-lg-3 p-0 pl-lg-5">
          <strong>Email</strong>
        </div>
        <div class="col-sm-12 col-lg-3 p-0 pl-lg-5">
          <strong>Contact</strong>
        </div>
        <div class="col-sm-12 col-lg-1 p-0">
          <strong>Action</strong>
        </div>
      </div>
    </div>


  </div>
  <div class="row">
    <div class="col-sm-4 col-lg-12 mt-2 mb-2">
      <div class="m-0 row row-container bg-white p-3">
        <div class="col-md-3 col-lg-2 p-0 pl-lg-2">
          14310699
        </div>
        <div class="col-sm-12 col-lg-3  p-0 p-0 pl-lg-5">
          Lorem Ipsum Longname
        </div>
        <div class="col-sm-12 col-lg-3 p-0 p-0 pl-lg-5">
          usermastergmail.com
        </div>
        <div class="col-sm-12 col-lg-3 p-0 p-0 pl-lg-5">
          09186886862
        </div>
        <div class="col-sm-12 col-lg-1 p-0">


          <button class="btn btn-sm btn-success d-inline-block mr-1"><i class="fas fa-edit"></i>                </button>
          <button class="btn btn-sm btn-danger d-inline-block"><i class="fas fa-trash-alt"></i>              </button>


        </div>
      </div>
    </div>

    <div class="col-sm-4 col-lg-12 mt-2 mb-2">
      <div class="m-0 row row-container bg-white p-3">
        <div class="col-md-3 col-lg-2 p-0 pl-lg-2">
          14310699
        </div>
        <div class="col-sm-12 col-lg-3  p-0 p-0 pl-lg-5">
          Lorem Ipsum Longname
        </div>
        <div class="col-sm-12 col-lg-3 p-0 p-0 pl-lg-5">
          usermastergmail.com
        </div>
        <div class="col-sm-12 col-lg-3 p-0 p-0 pl-lg-5">
          <span class="mr-5">09186886862</span>
        </div>
        <div class="col-sm-12 col-lg-1 p-0">


          <button class="btn btn-sm btn-success d-inline-block mr-1"><i class="fas fa-edit"></i>                </button>
          <button class="btn btn-sm btn-danger d-inline-block"><i class="fas fa-trash-alt"></i>               </button>


        </div>
      </div>
    </div>

    <div class="col-sm-4 col-lg-12 mt-2 mb-2">
      <div class="m-0 row row-container bg-white p-3">
        <div class="col-md-3 col-lg-2 p-0 pl-lg-2">
          14310699
        </div>
        <div class="col-sm-12 col-lg-3  p-0 p-0 pl-lg-5">
          Lorem Ipsum Longname
        </div>
        <div class="col-sm-12 col-lg-3 p-0 p-0 pl-lg-5">
          usermastergmail.com
        </div>
        <div class="col-sm-12 col-lg-3 p-0 p-0 pl-lg-5">
          <span class="mr-5">09186886862</span>
        </div>
        <div class="col-sm-12 col-lg-1 p-0">


          <button class="btn btn-sm btn-success d-inline-block mr-1"><i class="fas fa-edit"></i>                </button>
          <button class="btn btn-sm btn-danger d-inline-block"><i class="fas fa-trash-alt"></i>            </button>


        </div>
      </div>
    </div>




  </div>
</div>
