<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<div class="container">
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Buscar por nombre o DNI..."
      [(ngModel)]="filterText"
      (input)="applyFilter()">
  </div>

  <div class="container">
    <div class="row le-hide">

      <div class="col-lg-12">
        <div class="m-0 row p-3">
          <div class="col-md-3 col-lg-4 p-0">
            <strong class="pl-lg-2"> Nombre</strong>
          </div>
          <div class="col-sm-12 col-lg-4 p-0 pl-lg-5">
            <strong> DNI</strong>
          </div>
          <div class="col-sm-12 col-lg-4 p-0 pl-lg-5">
            <strong>Acciones</strong>
          </div>
        </div>
      </div>


    </div>
    <div class="row">
      <div class="col-sm-4 col-lg-12 mt-2 mb-2 " *ngFor="let item of paginatedItems" (click)="irDesaparicion(item.id)">
        <div class="m-0 row row-container bg-white p-3 cuadro">
          <div class="col-md-3 col-lg-4 p-0 pl-lg-2">
            {{ item.nombre }} {{ item.apellido }}
          </div>
          <div class="col-sm-12 col-lg-4  p-0 p-0 pl-lg-5">
            {{ item.dni }}
          </div>
          <div class="col-sm-12 col-lg-4 p-0">
            <button (click)="openModal(modalContent, 'recuperar', item); $event.stopPropagation()" class="btn btn-sm btn-success d-inline-block mr-1"><i class="fas fa-edit"></i></button>
            <button  (click)="openModal(modalContent, 'eliminar', item); $event.stopPropagation()" class="btn btn-sm btn-danger d-inline-block"><i class="fas fa-trash-alt"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <nav aria-label="Paginación">
    <ngb-pagination
      [collectionSize]="filteredItems.length"
      [(page)]="currentPage"
      [pageSize]="itemsPerPage"
      (pageChange)="onPageChange($event)">
    </ngb-pagination>
  </nav>
</div>

<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">
      Confirmar {{ accion | titlecase }}
    </h5>
    <button type="button" class="btn-close" aria-label="Cerrar" (click)="modal.dismiss('Cerrar')"></button>
  </div>
  <div class="modal-body">
    <p>¿Estás seguro de que deseas {{ accion }} a <strong>{{ itemSeleccionado?.nombre }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cancelar')">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="modal.close('Confirmar')">Confirmar</button>
  </div>
</ng-template>



