<div class="container text-center py-5">


  <div class="row g-4">
    <div class="col-12 col-md-4">
      <button
        class="btn btn-primary w-100 p-5 rounded-3 button-large"
        (click)="navigateTo('desaparicion/:id')">
        DESAPARECIDOS
      </button>
    </div>
    <div class="col-12 col-md-4">
      <button
        class="btn btn-primary w-100 p-5 rounded-3 button-large"
        (click)="navigateTo('usuarios-autorizados')">
        USUARIO AUTORIZADO
      </button>
    </div>
    <div class="col-12 col-md-4">
      <button
        class="btn btn-primary w-100 p-5 rounded-3 button-large"
        (click)="navigateTo('usuario/civil')">
        USUARIO CIVIL
      </button>
    </div>
  </div>
</div>
