.container {
  max-width: 1000px;
  margin: auto;
}

button {
  background-color: #003a66;
  color: white;
  font-size: 1.5rem;
  border: none;
  height: 150px;
  transition: transform 0.2s, background-color 0.3s;
}

button:hover {
  transform: scale(1.05);
  background-color: #00509e;
}

.button-large {
  height: 200px;
}
