<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>


</head>
<body>
<header class="container-fluid py-3">
  <div class="d-flex justify-content-center">
    <div class="header-line">
      <div class="text-start">
        <a href="#" style="margin-right: 20px;" class="text-decoration-none text-primary">Registrarse</a>
      </div>
      <div class="text-center">
        <img src="assets/nexo.jpg" alt="Logo" style="width:100px; height: 100px;" class="img-fluid">
      </div>
      <div class="text-end">
        <a href="/login" style="margin-left: 20px;" class="text-decoration-none text-primary">Iniciar sesión</a>
      </div>
    </div>
  </div>
</header>
</body>
</html>
