
  <div class="d-flex justify-content-center">
    <div class="header-line">
      <div class="text-start">
        <a [routerLink]="['registro']" style="margin-right: 20px;" class="text-decoration-none text-primary">Registrarse</a>
      </div>
      <div class="text-center">
        <img src="assets/nexo.jpg" alt="Logo" style="width:100px; height: 100px;" class="img-fluid" [routerLink]="['']">
      </div>
      <div class="text-end">
        <a *ngIf="!logueado" href="/login" style="margin-left: 20px;" class="text-decoration-none text-primary">Iniciar sesión</a>
        <a *ngIf="logueado" (click)="logout()" href="#" style="margin-left: 20px;" class="text-decoration-none text-primary">Salir</a>
      </div>
    </div>
  </div>
