<div class="nuevo-comentario border border-primary-subtle">
  <div class="nuevo-comentario">
    <div *ngFor="let comentario of comentarios" class="card mb-3 border rounded-3 shadow-sm">
      <div class="card-body">
        <p class="fw-bold text-primary mb-1">{{ comentario.nombre }}</p>
        <p class="mb-2">{{ comentario.texto }}</p>
        <div *ngIf="comentario.fotos && comentario.fotos.length > 0" class="d-flex flex-wrap gap-2">
          <p *ngFor="let foto of comentario.fotos" class="fst-italic text-primary m-0" role="button" (click)="openImageDialog(foto)">
            imagen
          </p>
        </div>
        <div *ngIf="!comentario.fotos || comentario.fotos.length === 0">
          <p class="fst-italic">Sin imágenes</p>
        </div>
      </div>
    </div>
  </div>

  <hr class="m-0" />



  <h5 class="mt-3">Agregar un comentario:</h5>
  <form [formGroup]="comentarioForm" (ngSubmit)="enviarComentario()">
    <div class="row">
      <div class="col col-12 col-md-6">
        <label for="nombre">Nombre</label>
        <input id="nombre" formControlName="nombre" required class="form-control" />
        <div *ngIf="comentarioForm.get('nombre')?.invalid && comentarioForm.get('nombre')?.touched" class="text-danger">
          El nombre es obligatorio.
        </div>
      </div>

      <div class="col col-12 col-md-6">
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" required class="form-control" />
        <div *ngIf="comentarioForm.get('email')?.invalid && comentarioForm.get('email')?.touched" class="text-danger">
          Ingresa un email válido.
        </div>
      </div>

      <div class="col col-12">
        <label for="telefono">Teléfono</label>
        <input id="telefono" type="number" formControlName="telefono" class="form-control" />
      </div>

      <div class="col col-12">
        <label for="texto">Comentario</label>
        <textarea id="texto" formControlName="texto" required class="form-control"></textarea>
        <div *ngIf="comentarioForm.get('texto')?.invalid && comentarioForm.get('texto')?.touched" class="text-danger">
          El comentario es obligatorio.
        </div>
      </div>

      <div class="col col-12">
        <app-input-share (filesChanged)="onFilesChanged($event)"></app-input-share>
      </div>

      <div class="col col-12 d-flex justify-content-center">
        <button type="submit" class="btn btn-primary" [disabled]="comentarioForm.invalid">
          Enviar
        </button>
      </div>
    </div>
  </form>
</div>
