
.custom-flex-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}

.custom-card-wrapper {
  flex: 0 1 calc(20% - 10px);
  max-width: calc(20% - 10px);
  box-sizing: border-box;
}

.card {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 200px;
}
.card-img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 10px;
  text-align: left;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title {
  font-size: 1rem;
  margin-bottom: 5px;
}

.card-text {
  font-size: 0.9rem;
  margin: 0;
  overflow-wrap: break-word;
  white-space: normal;
}


@media (max-width: 575.98px) {
  .custom-card-wrapper {
    flex: 0 1 calc(100% - 10px);
    max-width: calc(100% - 10px);
  }
}


@media (min-width: 576px) and (max-width: 767.98px) {
  .custom-card-wrapper {
    flex: 0 1 calc(50% - 10px);
    max-width: calc(50% - 10px);
  }
}


@media (min-width: 768px) and (max-width: 991.98px) {
  .custom-card-wrapper {
    flex: 0 1 calc(33.33% - 10px);
    max-width: calc(33.33% - 10px);
  }
}


@media (min-width: 992px) and (max-width: 1199.98px) {
  .custom-card-wrapper {
    flex: 0 1 calc(25% - 10px);
    max-width: calc(25% - 10px);
  }
}


@media (min-width: 1200px) {
  .custom-card-wrapper {
    flex: 0 1 calc(20% - 10px);
    max-width: calc(20% - 10px);
  }
}
