<div class="container my-4">
<mat-grid-list cols="5" rowHeight="200px" gutterSize="10px">
  <mat-grid-tile *ngFor="let desaparicion of desapariciones">
    <mat-card class="desaparicion-card">
      <img mat-card-image [src]="desaparicion.urlFotoCara" alt="{{ desaparicion.nombre }}">
      <mat-card-content>
        <div class="info-overlay">
          <h3>{{ desaparicion.nombre | uppercase }}</h3>
          <p>Desaparecido el {{ desaparicion.fecha | date: 'dd/MM/yyyy' }}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
</div>
