
<div class="container" style="margin-top: 10px;">
  <div class="row custom-flex-row">
    <div *ngFor="let desaparicion of desapariciones" class="custom-card-wrapper zoom">
      <div class="card" [routerLink]="['/desaparicion', desaparicion.id]">
        <img class="card-img" [src]="desaparicion.urlFotoCara" [alt]="desaparicion.nombre">
        <div class="card-body">
          <p class="card-title text-uppercase">{{ desaparicion.nombre }}</p>
          <p class="card-text">Desaparecido: {{ desaparicion.fecha | date: 'dd/MM/yyyy' }}</p>
        </div>
      </div>
    </div>
  </div>
</div>





