/* Barra lateral estilo general */
.sidebar {
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.sidebar.hidden {
  transform: translateX(-100%);
  position: fixed;
  z-index: 1000;
  width: 300px;
  height: 100%;
  top: 0;
  left: 0;
}

/* Ocultar barra lateral en pantallas pequeñas */
@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
    position: fixed; /* Fija la barra lateral para que no afecte el flujo */
    z-index: 1000;
    width: 300px; /* Tamaño fijo para asegurar consistencia */
    height: 100%; /* Ocupa toda la altura de la pantalla */
    top: 0;
    left: 0;
  }
}

/* Asegurar que la barra lateral sea visible en pantallas grandes */
@media (min-width: 769px) {
  .sidebar {
    transform: translateX(0);
    position: static; /* Regresa al flujo normal */
    width: auto;
    height: auto;
  }
}

.main-content {
  margin-right: 320px;
  transition: margin-right 0.3s ease-in-out;
}

.avisos-container {
  margin-top: 30px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

@media (max-width: 1200px) {
  .sidebar {
    width: 200px;
  }
  .main-content {
    margin-right: 270px;
  }
}

@media (max-width: 992px) {
  .sidebar {
    position: fixed; /* Fija la barra también en esta resolución */
    transform: translateX(-100%);
    z-index: 1000;
    width: 300px;
    height: 100%;
    top: 0;
    left: 0;
  }
  .main-content {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .sidebar {
    padding: 10px;
  }
  .main-content {
    margin-right: 0;
  }
}

@media (max-width: 576px) {
  .sidebar {
    width: 100%; /* Ajuste opcional para pantallas ultra pequeñas */
    padding: 5px;
  }
  .main-content {
    margin-right: 0;
  }
}
