<div class="sidebar">
  <h3 class="sidebar-title">Avisos de Desapariciones</h3>

  <!-- Mensajes de carga y error -->
  <div *ngIf="loading" class="loading-message">Cargando avisos...</div>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  <div *ngIf="!loading && avisos.length === 0" class="no-aviso-message">
    No hay avisos disponibles.
  </div>

  <!-- Contenedor de los avisos -->
  <div *ngFor="let aviso of avisos; let i = index" class="avisos-container">
    <div class="aviso-card">
      <div class="aviso-header">
        <p>{{ aviso.fecha }}</p> <!-- Fecha del aviso -->
      </div>
      <div class="aviso-description">
        <p>{{ aviso.texto }}</p> <!-- Descripción del aviso -->
      </div>

      <!-- Mostrar las fotos si existen -->
      <div *ngIf="aviso.fotos && aviso.fotos.length > 0" class="aviso-photo">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <!-- Se crean los indicadores dinámicamente según el número de fotos -->
            <button *ngFor="let foto of aviso.fotos; let i = index"
                    type="button"
                    [attr.data-bs-target]="'#carouselExampleIndicators'"
                    [attr.data-bs-slide-to]="i"
                    [class.active]="i === 0"
                    [attr.aria-label]="'Slide ' + (i + 1)"
                    [attr.aria-current]="i === 0 ? 'true' : null">
            </button>
          </div>

          <div class="carousel-inner">
            <!-- Se crean los elementos del carrusel dinámicamente -->
            <div *ngFor="let foto of aviso.fotos; let i = index"
                 [class.active]="i === 0"
                 class="carousel-item">
              <img [src]="foto.url" class="d-block w-100" alt="Foto de aviso">
            </div>
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div style="text-align: center;">
    <button mat-raised-button color="primary" (click)="abrirModal()">Crear Aviso</button>
  </div>
</div>
