<div class="login-container">
  <mat-card class="login-card">
    <mat-card-title>Iniciar Sesión</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="iniciarSesion()">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Usuario</mat-label>
          <input matInput [(ngModel)]="usuario" name="usuario" placeholder="Tu usuario" required />
          <mat-error *ngIf="!usuario">
            El campo usuario es obligatorio.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput [(ngModel)]="contrasenya" name="contrasenya" type="password" placeholder="********" required />
          <mat-error *ngIf="!contrasenya">
            La contraseña es obligatoria.
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="!usuario || !contrasenya">
          Ingresar
        </button>
      </form>
    </mat-card-content>

  </mat-card>
</div>
