.row.g-4 {
  display: flex;
  flex-wrap: wrap;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-body {
  flex: 1;
  max-height: 260px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color:  #6c757d white;
}

.card:hover {
  box-shadow: 0 0 10px #75c2f2 !important;
}


.img-fluid {
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.zoom {
  display: inline-block;
  transition: transform 0.3s ease;
}

.zoom:hover {
  transform: scale(1.03);
}

