.navbar-brand img {
  width: 80px;
}
.navbar-nav {
  align-items: center;
}
.navbar .navbar-nav .nav-link {
  color: black;
  font-size: 1.1em;
  padding: 0.5em 1em;
}
.notification-text-container {
  display: block;
  overflow: hidden;
  max-width: 100%;
}

.notification-text {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .navbar-brand img {
    width: 100px;
  }
  .navbar-brand {
    margin-right: 0;
    padding: 0 1em;
  }
}

@media (max-width: 768px) {
  nav.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9000;
    padding: 0;
  }
}

.nav-link .badge {
  font-size: 0.75rem;
  padding: 0.25em 0.5em;
}
.dropdown-menu {
  min-width: 250px;
}
