<nav class="navbar navbar-expand-md navbar-dark bg-secondary">
  <div class="container-fluid">
    <button class="btn btn-secondary d-md-none" (click)="redirigirAvisos()">
      Avisos
    </button>

    <a class="navbar-brand d-md-none" href="#">
      <img src="assets/nexo.jpg" alt="Nexo" style="width: 100px; height: 100px;" class="img-fluid" [routerLink]="['']">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="iconify" data-icon="fad:h-expand" data-inline="false" style="font-size: 30px; color: #003a66;"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item" *ngIf="!logueado">
          <a class="nav-link active" aria-current="page" href="/registro" style="color: #003a66">Registro</a>
        </li>

        <li class="nav-item" *ngIf="logueado" style="position: relative;">
          <a class="nav-link position-relative" href="#" id="notificationButton" (click)="toggleDropdown($event)">
            <span class="iconify" data-icon="mdi:bell" data-inline="false" style="font-size: 24px; color: #FFC107;"></span>
            <span *ngIf="notificaciones.length > 0" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              {{ notificaciones.length }}
              <span class="visually-hidden">notificaciones nuevas</span>
            </span>
          </a>

          <div *ngIf="dropdownVisible" class="dropdown-menu dropdown-menu-end show" style="position: absolute; top: 100%; right: 0; min-width: 400px; word-break: auto-phrase;">
            <div class="dropdown-header">Notificaciones</div>
            <div *ngIf="notificaciones.length > 0; else noNotificationsTemplate">
              <div *ngFor="let notificacion of notificaciones" class="dropdown-item text-break" (click)="irNotificacion(notificacion.id, notificacion.idDesaparicion)"  [routerLink]="['/desaparicion', notificacion.idDesaparicion]" style="cursor: pointer">
                <div class="notification-text-container">
                  <strong class="notification-text">{{ notificacion.texto }}</strong>
                </div>
                <small class="text-muted">{{ formatFecha(notificacion.fecha) }}</small>
                <div class="dropdown-divider"></div>
              </div>

            </div>
            <ng-template #noNotificationsTemplate>
              <span class="dropdown-item-text">No tienes notificaciones</span>
            </ng-template>
          </div>
        </li>

        <a class="navbar-brand d-none d-md-block" href=" ">
          <img src="assets/nexo.jpg" alt="Nexo" style="width: 70px; height: 70px;" class="img-fluid">
        </a>

        <li class="nav-item" *ngIf="!logueado">
          <a href="/login" class="nav-link" style="color: #003a66">Iniciar sesión</a>
        </li>

        <li class="nav-item dropdown d-none d-md-block" *ngIf="logueado">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="iconify" data-icon="mdi:account" data-inline="false" style="font-size: 24px; color: #003a66;"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/usuario">Perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a (click)="logout()" href="/login" class="nav-link" style="color: darkred">Salir</a></li>
          </ul>
        </li>

        <li class="nav-item d-md-none" *ngIf="logueado">
          <a href="/usuario" class="nav-link" style="color: #003a66">Perfil</a>
        </li>
        <li class="nav-item d-md-none" *ngIf="logueado">
          <a (click)="logout()" href="/login" class="nav-link" style="color: darkred">Salir</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
