<div class="container-fluid">
  <div class="row">
    <div class="col-10">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-12 mt-3">
            <app-sobre-nosotros></app-sobre-nosotros>
          </div>
          <div class="col col-12 mt-3">
            <app-crear-autoridad></app-crear-autoridad>
            <app-desaparicion-principal></app-desaparicion-principal>
          </div>
          <div class="col col-12 mt-3">
            <app-mapa-principal></app-mapa-principal>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <app-aviso-principal></app-aviso-principal>
    </div>
  </div>
</div>


