<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Error</title>
</head>
<body>
    <h1>Ups! Parece que ha habido un error</h1>
    <p class="zoom-area"> Puede ser que no estes logeado o que no tengas permiso para acceder a dicha pagina </p>
  <section class="error-container">
    <span><span>4</span></span>
    <span>0</span>
    <span><span>4</span></span>
  </section>
    <div class="link-container">
      <a [routerLink]="['']" class="more-link">Inicio</a>
    </div>
  </body>
</html>
