<div class="container mt-4">
  <div class="mb-3 d-flex align-items-center">
    <input type="text"
           class="form-control rounded search-bar pe-5 mx-2  border-bottom border-primary"
           placeholder="Buscar por nombre o DNI..."
           aria-label="Search"
           [(ngModel)]="filterText"
           (input)="applyFilter()">
    <mat-icon class="custom-icon">search</mat-icon>
  </div>


  <div class="container">
    <div class="row mb-3">
      <div class="col-lg-12">
        <div class="row p-3">
          <div class="col-md-6">
            <strong>Usuario</strong>
          </div>
          <div class="col-md-3">
            <strong>Fecha</strong>
          </div>
          <div class="col-md-3 text-end">
            <strong>Acciones</strong>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-4 col-lg-12 mt-2 mb-2" *ngFor="let aviso of paginatedAvisos">
        <div class="row p-3 bg-light border rounded-3 shadow-sm">
          <div class="col-md-6">
            {{ aviso.username }}
          </div>
          <div class="col-md-3">
            {{ aviso.fecha | date:'dd/MM/yyyy' }}
          </div>
          <div class="col-md-3 text-end">

            <button (click)="openModal(modalContent, 'eliminar', aviso); $event.stopPropagation()" class="btn btn-sm btn-danger">
              <i class="fas fa-trash-alt"></i> Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <nav aria-label="Paginación">
    <ngb-pagination
      [collectionSize]="filteredAvisos.length"
      [(page)]="currentPage"
      [pageSize]="itemsPerPage"
      (pageChange)="onPageChange($event)">
    </ngb-pagination>
  </nav>
</div>


<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h5 class="modal-title">
      Confirmar eliminación
    </h5>
    <button type="button" class="btn-close" aria-label="Cerrar" (click)="modal.dismiss('Cerrar')"></button>
  </div>
  <div class="modal-body">
    <p>¿Estás seguro de que deseas eliminar este aviso del usuario <strong>{{ itemSeleccionado?.username }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cancelar')">Cancelar</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Confirmar')">Confirmar</button>
  </div>
</ng-template>
