<div class="container">
    <h3 class="text-center mb-4">Editar Usuario</h3>
    <form [formGroup]="civilForm" (ngSubmit)="submit()">
        <div class="row">

            <div class="col-lg-6 col-md-6 col-12 mb-3">
                <label for="dni"><b>DNI</b></label>
                <input formControlName="dni" class="form-control" type="text" id="dni">
            </div>
            <div class="col-lg-6 col-md-6 col-12 mb-3">
                <label for="telefono"><b>Teléfono</b></label>
                <input formControlName="telefono" class="form-control" type="number" id="telefono" maxlength="9">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12 mb-3">
                <label for="nombre"><b>Nombre</b></label>
                <input formControlName="nombre" class="form-control" type="text" id="nombre">
            </div>
            <div class="col-lg-6 col-md-6 col-12 mb-3">
                <label for="apellidos"><b>Apellidos</b></label>
                <input formControlName="apellido" class="form-control" type="text" id="apellidos">
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary" [disabled]="civilForm.invalid">Guardar</button>
            </div>
        </div>
    </form>
</div>
