
  <section class="vh-100" style="background-color: #c9daff;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="https://png.pngtree.com/png-vector/20240918/ourlarge/pngtree-colorful-drawing-of-two-people-hugging-png-image_13629790.png"
                     alt="login form" class="img-fill-container"/>
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Datos de registro</h5>
                  <form [formGroup]="usuarioForm" (ngSubmit)="submit()">
                    <div class="form-outline mb-4">
                      <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="Nombre">
                    </div>
                    <div class="form-outline mb-4">
                      <input type="text" class="form-control" id="apellidos" formControlName="apellidos" placeholder="Apellidos">
                    </div>
                    <div class="form-outline mb-4">
                      <input type="text" class="form-control" id="dni" formControlName="dni" placeholder="DNI">
                      <div *ngIf="usuarioForm.get('dni')?.touched && usuarioForm.get('dni')?.invalid" class="text-danger">
                        DNI obligatorio.
                      </div>
                    </div>
                    <div class="form-outline mb-4">
                      <input type="number" class="form-control" id="telefono" formControlName="telefono" placeholder="Telefono">
                    </div>
                    <div class="form-outline mb-4">
                      <input type="text" class="form-control" id="usuario" formControlName="usuario" placeholder="Nombre usuario">
                      <div *ngIf="usuarioForm.get('usuario')?.touched && usuarioForm.get('usuario')?.invalid" class="text-danger">
                        El nombre de usuario es obligatorio.
                      </div>
                    </div>
                    <div class="form-outline mb-4">
                      <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email">
                      <div *ngIf="usuarioForm.get('email')?.touched && usuarioForm.get('email')?.invalid" class="text-danger">
                        <div *ngIf="usuarioForm.get('email')?.hasError('required')">El email es obligatorio.</div>
                        <div *ngIf="usuarioForm.get('email')?.hasError('email')">El formato del email es inválido.</div>
                      </div>
                    </div>
                    <div class="form-outline mb-4">
                      <input type="password" class="form-control" id="contrasenya" formControlName="contrasenya" placeholder="Contraseña">
                      <div *ngIf="usuarioForm.get('contrasenya')?.touched && usuarioForm.get('contrasenya')?.invalid" class="text-danger">
                        <div *ngIf="usuarioForm.get('contrasenya')?.hasError('required')">La contraseña es obligatoria.</div>
                        <div *ngIf="usuarioForm.get('contrasenya')?.hasError('passwordStrength')">
                          La contraseña debe tener al menos 6 caracteres, una mayúscula, un número y un carácter especial.
                        </div>
                      </div>
                    </div>
                    <div class="form-outline mb-4">
                      <input type="password" class="form-control" id="repContrasenya" formControlName="repContrasenya" placeholder="Repetir contraseña">
                      <div *ngIf="usuarioForm.get('repContrasenya')?.touched && usuarioForm.get('repContrasenya')?.invalid" class="text-danger">
                        <div *ngIf="usuarioForm.get('repContrasenya')?.hasError('required')">Debe repetir la contraseña.</div>
                        <div *ngIf="usuarioForm.hasError('mustMatch')">
                          Las contraseñas no coinciden.
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn w-100 btn-primary" [disabled]="usuarioForm.invalid">Registrarse</button>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

