<div class="card p-4 shadow">
  <h4 class="text-center text-primary mb-4 d-none d-xl-block">Buscar personas</h4>
  <form (ngSubmit)="onBuscar()">
    <div class="mb-3">
      <label for="nombre" class="form-label">Buscar por nombre:</label>
      <input
        type="text"
        id="nombre"
        class="form-control"
        [(ngModel)]="filtros.nombre"
        name="nombre"
        placeholder="Introduce un nombre"
      />
    </div>

    <div class="mb-3">
      <label for="estado" class="form-label">Seleccionar estado:</label>
      <select
        id="estado"
        class="form-select"
        [(ngModel)]="filtros.estado"
        name="estado"
      >
        <option value="">Todos los estados</option>
        <option *ngFor="let estado of estados" [value]="estado.id">
          {{ estado.nombre }}
        </option>
      </select>
    </div>

    <div class="mb-3">
      <label for="fecha" class="form-label">Buscar por fecha:</label>
      <input
        type="date"
        id="fecha"
        class="form-control"
        [(ngModel)]="filtros.fecha"
        name="fecha"
      />
    </div>

    <div class="d-grid gap-3">
      <button type="submit" class="btn btn-primary">Buscar</button>
      <button type="button" class="btn btn-secondary" (click)="onLimpiar()">Limpiar filtros</button>
    </div>
  </form>
</div>
