<div class="container mt-4">

  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Buscar por nombre de usuario..."
      [(ngModel)]="filterText"
      (input)="applyFilter()">
  </div>


  <div class="container">
    <div class="row mb-3">
      <div class="col-lg-12">
        <div class="row p-3">
          <div class="col-md-6">
            <strong>Nombre de Usuario</strong>
          </div>
          <div class="col-md-3">
            <strong>Verificado</strong>
          </div>
          <div class="col-md-3 text-end">
            <strong>Acciones</strong>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-4 col-lg-12 mt-2 mb-2" *ngFor="let usuario of paginatedUsuarios">
        <div class="row p-3 bg-light border rounded-3 shadow-sm rounded-4">
          <div class="col-md-6">
            {{ usuario.usuario }}
          </div>
          <div class="col-md-3">
            {{ usuario.verificado ? 'Sí' : 'No' }}
          </div>
          <div class="col-md-3 text-end">

            <button
              (click)="openModal(modalContent, 'eliminar', usuario); $event.stopPropagation()"
              class="btn btn-sm btn-danger">
              <i class="fas fa-trash-alt"></i> Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <nav aria-label="Paginación">
    <ngb-pagination
      [collectionSize]="filteredUsuarios.length"
      [(page)]="currentPage"
      [pageSize]="itemsPerPage"
      (pageChange)="onPageChange($event)">
    </ngb-pagination>
  </nav>
</div>


<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h5 class="modal-title">
      Confirmar eliminación
    </h5>
    <button type="button" class="btn-close" aria-label="Cerrar" (click)="modal.dismiss('Cerrar')"></button>
  </div>
  <div class="modal-body">
    <p>¿Estás seguro de que deseas eliminar al usuario <strong>{{ usuarioSeleccionado?.usuario }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cancelar')">Cancelar</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Confirmar')">Confirmar</button>
  </div>
</ng-template>
